<div class="mw7 pa3 pa5-ns">
  <nav class="bb b--light-gray mb3">
    <h1 class="f3 f1-m f-headline-l mb3"><a href="/">Nat? Nat. Nat!</a></h1>
  </nav>

  <h2>Admin</h2>

  <ul>
    <li><a href="/admin/post/new">New Post</a></li>

    <li> TODO Add edit posts</li>
  </ul>
</div>
