<div class="mw7 pa3 pa5-ns">
  <nav class="bb b--light-gray mb3">
    <h1 class="f3 f1-m f-headline-l mb3"><a href="/">Nat? Nat. Nat!</a></h1>
  </nav>

  <h2>Edit Post #{{.Post.ID}}</h2>

  <form class="pa4 black-80" method="post">
    <div>
      <label for="title" class="f6 b db mb2">Title</label>
      <input id="title" name="title" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="title-desc" value="{{.Post.Title}}">
    </div>

    <div class="mt3">
      <label for="text" class="f6 b db mb2">Post Text</label>
      <textarea id="text" name="text" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2" aria-describedby="text-desc" style="height: 20rem; resize:vertical;">{{.Post.Content}}</textarea>
      <small id="text-desc" class="f6 black-60">This should be in <a href="https://spec.commonmark.org/0.28/" class="link underline black-80 hover-blue">Markdown</a>.</small>
    </div>

    <div class="mt3 cf">
      <div class="fr">
        <label for="draft" class="lh-copy">Draft?</label>
        <input class="mh2" type="checkbox" id="draft" name="draft" {{if .Post.Draft}}checked{{end}}>
      </div>

      <div class="fl">
        <label for="datetime" class="f6 b db mb2">Post Time</label>
        <input id="datetime" type="datetime-local" name="datetime" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" value="{{.Datetime}}">
      </div>
    </div>

    <div class="pv3 cf">
      <input type="submit" class="fr pointer dim br3 ph3 pv2 mb2 dib white bg-navy" />
    </div>
  </form>
</div>
