<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <meta charset="utf-8">
    <style>
      h1 a, h1 a:visited, h1 a:link { color: black; text-decoration: none; }
      table {
        background-color: lightgrey;
        border-spacing: 1px;
      }
      tr {
        background-color: white;
        border-bottom: 1px solid black;
      }
      pre {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .line-num {
        width: 50px;
      }
      .added {
        background-color: lightgreen;
      }
      .deleted {
        background-color: lightpink;
      }
    </style>
  </head>
  <body class="ma0">
    {{ yield }}
  </body>
</html>
